body{font-family: 'Public Sans', sans-serif;font-weight: normal;}
a:hover {color: #005ea2;}
.container{max-width: 1400px;}

th.filter {padding: 10px 4px 6px 4px !important;}
td.details-control {background: url('/img/details_open.png') no-repeat center center;cursor: pointer;width: 35px;background-color: #F9F9F9 !important;}
tr.shown td.details-control {background: url('/img/details_close.png') no-repeat center center;width: 35px;background-color: #F9F9F9 !important;}
a.toggle-vis {cursor: pointer;color: #3174c7;text-decoration: none;}
.toggle-box {padding: 10px 0px 20px;}
.buttons-colvis {margin-right: 20px!important;position: relative;top: -2px;}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(194, 194, 194); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(141, 141, 141); 
  }

/*============ start top header area =============*/
.navbar {padding:0px;}
.navbar-brand {padding: 20px 30px; margin: 0px;}
.navbar-brand img{height: 40px;}
.navbar-nav {padding-top: 20px;padding-right: 30px;}
.navbar-nav .nav-item {padding: 0 15px;}
.navbar-nav .nav-item .nav-link{padding: 0 0 12px 0;font-weight: bold;font-size: 14px;color: #585C62;border-bottom: 7px solid transparent;}
.navbar-nav .nav-item.active .nav-link, .navbar-nav .nav-item:hover .nav-link {border-bottom: 7px solid #005EA2;color: #005EA2;}
.right_menuarea {padding-right: 30px;width: 270px;}
.right_menuarea .navbar-nav {padding-top:0px;padding-right:0px;}
.right_menuarea .navbar-nav .nav-item {padding: 0 12px;border-left: 1px solid #828588;line-height: 18px;margin-bottom: 12px;margin-top: 12px;}
.right_menuarea .navbar-nav .nav-item:first-child{border-left: none;}
.right_menuarea .navbar-nav .nav-item .nav-link{padding:0;font-weight: 500;font-size: 14px;color: #828588;;border-bottom:none;}

.gsc-control-cse {border-color: rgba(0,0,0,0)!important;background-color: rgba(0,0,0,0)!important;padding: 0px !important;}
table.gsc-search-box td.gsc-input {padding-right: 0px !important;}
.gsc-input-box {border: none !important;}
table.gsc-search-box td.gsib_a{border: 1px solid #000000 !important;}
table.gsc-search-box td.gsib_b{display: none !important;}
.gsc-search-button button{background: #005EA2 !important;border-radius: 0px 4px 4px 0px !important;padding: 4px 12px !important;height: 35px !important;margin: 0px !important;}
.gsc-search-button-v2 svg {width: 20px !important;height: 20px !important;}
#___gcse_0 {width: 100%;}


/*============ start breadcrumb area =============*/
.breadcrumb {background: #162E51;border-radius: 0px;padding: 18px 30px;margin: 0px;}
.breadcrumb li a{font-size: 16px;color: #fff;}
.breadcrumb li.active{color: #fff;text-decoration: underline;}


/*=========== background image area ==============*/
.jumbotron{background: url(../img/background_img.png); background-repeat: no-repeat;background-size: cover;padding: 120px 30px;border-radius: 0px;margin: 0px;}
.home_bgcontent {background: #162E51; padding: 30px;}
.home_bgcontent h1{font-weight: bold;font-size: 40px;color: #FFFFFF;margin-bottom: 20px;}
.home_bgcontent p{color: #FFFFFF;font-weight: 300;font-size: 22px;line-height: 36px;}
.home_bgcontent .btn_org_home{background: #005EA2; border-radius: 4px;font-weight: bold;font-size: 16px;color: #fff;padding: 12px 24px;display: inline-block; text-decoration: none;}

.homeround_content {padding: 60px 30px;}
.homeround_content .circle_img{float: left;margin-right: 25px;}
.homeround_content a{text-decoration: none;}
.homeround_content .content_area h4{font-weight: bold;font-size: 22px;color: #171717;margin-bottom: 15px;}
/* .homeround_content .col-md-4:hover .content_area h4{color: #005EA2;} */
.homeround_content .content_area p{font-weight: normal;font-size: 16px;line-height: 26px;color: #171717;margin-bottom: 0px;}
.homeround_content .col-md-4 {margin-bottom: 60px;}

.bottom_text h3{font-weight: 600;font-size: 32px;line-height: 48px;color: #171717;margin-bottom: 20px;}
.bottom_text .learn_more {font-weight: bold;font-size: 16px;color: #005EA2;padding:8px 24px;border: 2px solid #005EA2;border-radius: 4px;display: inline-block;}


/*============ start footer area =============*/
#newsletter-subs {background: #162E51;margin: 0;position: relative;padding: 88px 30px;display: block;width: 100%;}
#newsletter-subs label{color: white;font-weight: 600;font-size: 32px;padding-top: 15px;padding-bottom: 0px;line-height: 48px;}
.email_address small{font-weight: normal;font-size: 16px;line-height: 16px;color: #fff;margin-bottom: 7px;display: inline-block;}
.email_address .form-control{background: #fff;border-radius: 0px;height: 42px;}
.email_address .input-group-append button {background: #005EA2;border-radius: 0px 4px 4px 0px;padding: 0px 24px;font-weight: bold;font-size: 16px;border-color: #005EA2;}
#return-to-top {padding:10px 30px !important;}
#return-to-top a{font-weight: normal;font-size: 16px;color: #757575;}
#return-to-top a span{ text-decoration: underline;}
#return-to-top a:hover span, #return-to-top a:hover i{color: #005ea2;}
#return-to-top a i{font-size: 18px;margin-left: 5px;}
#footer-menu {width:100%;margin:0;padding: 30px 30px;background: #F0F0F0;}
#footer-menu h6{font-weight: bold;color: #171717;font-size: 16px;margin-bottom: 15px;}
#footer-menu a {display: inline-block;padding: 0 0;font-weight: normal;font-size: 16px;color: #757575;text-decoration: underline;margin-bottom: 10px;}
#footer-menu a:hover {color: #005ea2;}
#footer-black {width:100%;margin: 0;padding:30px;background: #000;display: flex;justify-content: space-between;}
.middle_text{margin: auto;color: white;font-weight: 600;font-size: 16px;}
.middle_text a{color: #fff;text-decoration-line: underline;}


/*================= organization page ======================*/
.dataTables_wrapper .dataTables_filter {float: left;text-align: right;width: 32%;margin-right: 2%;}
.dataTables_wrapper .dataTables_filter label{width: 100%;}
.dataTables_wrapper .dataTables_filter input {border: 1px solid #1C1D1F;border-left: none;border-right: none;border-radius: 0;padding: 8px 10px;background-color: #fff;margin-left: 10px;width: 82%;}
select.filter , select.filter-top{border: 1px solid #1C1D1F;border-left: none;border-right: none;border-radius: 0;padding: 8px 40px 8px 10px;background-color: #fff;width: 48%;margin-right: 4%;}
select{appearance: none; -webkit-appearance: none;}
select{background: url(../img/arrow.png);background-position: 97% 16px; background-repeat: no-repeat;}
select.filter-top#filter-tags {margin-right: 0%;}
[type=search] , :focus{outline: none;}
.toolbar {display:inline-block;width:66%;}
.organization_data {padding: 20px 15px 20px;}
table.dataTable thead th, table.dataTable thead td{ border-bottom: none;}
table.dataTable.no-footer, .table td, .table th {border: none;}
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {background-color: #ffffff;}
.dataTables_wrapper .dataTables_paginate .paginate_button{padding:7px 18px;border-radius: 4px;color: #000 !important;}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover, .dataTables_wrapper .dataTables_paginate .paginate_button:hover{color: #fff !important;border: 1px solid #005EA2;background: #005EA2;}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{color: #000 !important; border: 1px solid #f0f0f0;background: #f0f0f0;}

#orgsTable .col-md-3 a{text-decoration: none;}
#orgsTable .card {min-height: 350px;border: 1px solid #DFE1E2;border-radius: 0px;margin-bottom: 30px;}
#orgsTable .card img {max-width: 100%;max-height: 100%;margin:0 auto 25px;}
#orgsTable .card .card-body {padding: 24px;}
#orgsTable .card .inner_logoimg{width: 100%;overflow: hidden;vertical-align: middle;display: table;text-align: center;}
#orgsTable .card .inside_org_logo {height: 100px;display: table-cell;vertical-align: middle;}
#orgsTable .card .card-body h6{font-weight: bold;font-size: 22px;line-height: 26px;color: #171717;margin-bottom: 15px;}
#orgsTable .card .card-body p {font-weight: normal;font-size: 16px;line-height: 26px;color: #171717;margin-bottom: 15px;}
#orgsTable .card .card-body p.tag_org{color: #162E51;font-weight: 500;font-size: 16px;margin-bottom: 15px;width: 100%;}
.tag_color {color: #767676;font-size: 18px;}
.badge-info{
    background: white;
    border-radius: 0px;
    color: #767676;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    padding: 0;
    margin-bottom: 0px;
}
.badge-info::after{content: ',';margin-right: 5px;}
.badge-info:last-child::after{display: none;}


/*================== start organization detail page ================*/
.org-header {background: #fff;}
.inside_orglogo {padding: 15px 0px 15px 15px;height: 120px;overflow: hidden;display: table-cell;}
.inside_orglogo .org-logo{max-width: 100%; max-height: 100%;margin: 0 auto;}
.org_detailtitle{padding: 30px 30px 0 5px;}
.org_detailtitle h4 {font-weight: bold;font-size: 22px;line-height: 38px;color: #171717;float: left;margin-right: 20px;}
.icon_orgsocial {float: left;padding-top: 6px;}
.icon_orgsocial .icon{height: 32px;width: 32px;float: left;line-height: 30px;border-radius: 50px;font-size: 16px;padding: 0px !important;background: #959494;text-align: center;margin: 0 6px;margin-bottom: 5px;}
.icon_orgsocial .icon i{color: #fff;}
.icon_orgsocial .icon a{background: #005EA2;color: #fff;width: 100%;height: 100%;display: inherit;border-radius: 50px;}
.text-types {float: left;padding-right: 10px;margin: 0px;font-weight: 500;color: #162E51;}

.submenu_org {background: #F0F0F0;padding: 0px 0px;width: 100%;}
.submenu_org .nav-item .nav-link{padding: 14px 16px;font-weight: bold;font-size: 16px;color: #585C62;}
.submenu_org .nav-item.active .nav-link, .submenu_org .nav-item:hover .nav-link{background: #112F4E;color: #fff;}
.submenu_org .nav-item.dropdown.show{
    background: #112F4E;
    color: #fff;
    /*border: 3px solid#007bff;*/
    border-bottom: none;
}
.submenu_org .nav-item.dropdown.show .nav-link{color: #fff;}
.submenu_org .nav-item .dropdown-menu{
    padding: 15px 0px;
    margin: 0px;
    background: #112F4E;
    border-radius: 0px;
}
.submenu_org .nav-item .dropdown-menu .dropdown-item{
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    padding: 7px 20px;
}
.submenu_org .nav-item .dropdown-menu .dropdown-item:hover, .submenu_org .nav-item .dropdown-menu .dropdown-item.active,.submenu_org .nav-item .dropdown-menu .dropdown-item:focus{
    background: transparent;
    text-decoration: underline;
}

.dataTables_wrapper .dataTables_length select {
    border: 1px solid #171717;
    border-radius: 0px;
    background-color: #fff;
    padding: 7px 30px 7px 12px;
    min-width: 100px;
    background-position: 93% 14px;
}
.btn_eyeicon{
    background: url(../img/eye_icon.png) !important;
    background-repeat: no-repeat !important;
    border: none !important;
    padding: 0px !important;
    width: 22px;
    height: 20px;
    top: 10px !important;
}
.btn_eyeicon span{ display: none;}
.bottom_lastupdate {background: #E7F6F8;margin: 20px 0;padding: 18px 30px;margin-bottom: 40px;}
.bottom_lastupdate img{margin-right: 15px;}
.bottom_lastupdate p{font-weight: bold;font-size: 22px;line-height: 36px;color: #171717;margin: 0px;}
.bottom_lastupdate p a{color: #171717;text-decoration: underline;}
.note_bottom {font-weight: 600;font-size: 26px;line-height: 36px;color: #171717;padding: 0 15px;margin-top: 60px;margin-bottom: 30px;}

table.dataTable{margin-top: 20px;}
table.dataTable thead th {border-top: 1px solid #171717;border-bottom: 1px solid #171717;}
#myTable_wrapper .toolbar{width:54%;margin: 0px !important;float: right;}
#myTable_wrapper.dataTables_wrapper .dataTables_filter {width: 25%;}
#myTable_wrapper .toolbar .drop_dowm_select{width: 31%;float: left;}
#myTable_wrapper .toolbar .drop_dowm_select select {width: 100%;padding: 8px 30px 8px 12px;border-left: none;border-right: none;}
#myTable_wrapper.dataTables_wrapper .dataTables_filter input{width: 70%;}
table.dataTable thead th, table.dataTable thead td{padding:12px 15px;}
table.dataTable tbody th, table.dataTable tbody td {padding: 13px 15px;}
table.dataTable tbody tr {background-color: #f9f9f9;}
table.dataTable tbody tr.child-row td{padding: 0px;background: #fff;}
table.dataTable tbody tr.child-row td table tbody tr{background: #fff;}
table.dataTable tbody tr.child-row td table tbody tr td{padding: 13px 15px 13px 0px;}
#orgsTable thead{display: none;}
#orgsTable.dataTable tbody tr {background-color: #fff!important;}

#map-controls {
    position: absolute;
    padding: 10px 20px;
    left: 5px;
    top: 5px;
    width: 360px;
    height: auto;
    z-index: 2;
}
#toggles {
    /* position: absolute;
    padding: 10px 20px;
    left: 5px;
    bottom: 35px;
    width: 300px;
    height: 370px;
    background: #eeeeeea1;
    z-index: 1; */
    position: absolute;
    padding: 10px 20px;
    left: 5px;
    top: 65px;
    width: 360px;
    height: auto;
    z-index: 1;
}
#map, #container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
#map_container {padding:0;min-height:800px;}
.custom-control-label {
    font-size: .9rem;
}
.custom-switch hr {
    display: inline-block;
}
.border-sample {
    border: none;
    color: #000;
    background-color: #000;
    height: 4px;
    min-width: 30px;
    text-align: right;
    margin: 10px 10px 5px;
}
.stats-table th, .stats-table td {padding:.55em;}

.share_icon_container {
    position:absolute; 
	right: 20px;
	cursor: pointer;
	padding-left: 10px;
}
#details-permalink {
    opacity: 0.01;
    display: block;
    position: absolute;
    width: 3px;
    height: 3px;
    text-overflow: ellipsis;
    overflow: hidden;
}


/*================== organization About page ================*/
#org_stats .card-text, #org_socials .card-text , #org_crol .card-text {height: 750px;overflow: auto;}
#org_stats th, #org_stats td {padding: 8px 20px;}
#tw_button, #fb_button {cursor: pointer; color:#212533;}
#tw_button.active, #fb_button.active {cursor: default; color:#212533;}
#org_crol .card-text {overflow: auto;height: 670px;}
.select_district img{float: left;background: #005EA2;padding: 8px;}
.select_district .inner_district {width: 100%;padding:0px;border:1px solid #000;border-left: none;border-right: none;float: left;width: 270px; background: url(../img/arrow.png);background-color: #fff;background-position: 97% 16px; background-repeat: no-repeat;list-style: none;}
.select_district .inner_district li a{color: #000;text-decoration: none;font-size: 14px;padding: 10px 30px 9px 12px;display: inline-block;width: 100%;}
.inner_district .dropdown-toggle::after{display: none;}
.select_district .inner_district .filter{width: 100%;border: none;font-size: 14px;padding: 9px 12px 9px 12px;}

.district_section .mt-5{margin-top: 35px !important;}
.district_section h1{font-weight: 600;font-size: 32px;line-height: 38px;margin-bottom: 16px;}
.district_section h5{font-weight: 500;font-size: 16px;line-height: 14px;}
.district_section .submenu_org {padding: 0px;}
.lead {font-weight: normal;}
.organization_summary .card-body{padding: 0px;}
.organization_summary table tr th, .organization_summary table tr td{padding: 10px 24px;border-bottom: 1px solid #E4E4E4;}
.organization_summary table tr td:first-child{background: #F1F1F1;}
.organization_summary table tr td a{color: #171717;text-decoration: none;}
.notice_org h5{font-weight: 600;font-size: 22px;line-height: 25px;margin-bottom: 30px;}
.crol_msg p {font-weight: normal;margin-bottom: 0px;line-height: initial;}
.crol_msg p a{font-weight: normal; color: #005ea2; text-decoration: underline;}
.outline_btn{padding: 12px 24px;
    border: 2px solid #005EA2;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #005EA2;
    display: inline-block;
    margin-top: 30px;
}
.organization_data p {width: calc(100% - 50px);}
.map_btn {background: #112F4E;padding: 7px 11px;margin-top: -40px;position: relative;}
.map_btn.btn-outline::before{
    content: '';
    width: 37px;
    height: 30px;
    background: #112F4E;
    top: 32px;
    left: -1px;
    position: absolute;
}
#data_container.col.col-6 #myTable_wrapper .toolbar{width:100%;margin-bottom: 15px !important;}
#data_container.col.col-6 #myTable_wrapper.dataTables_wrapper .dataTables_filter {width:55%;}
.map_right {display: inline-block;width: 100%;margin: 0px;}
#map_container{float: right;}


.social_media .social_btn {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    text-align: left;
    background-image: url(../img/remove.svg),linear-gradient(transparent,transparent);
    background-repeat: no-repeat;
    background-color: #F0F0F0;
    background-position: right 1.25rem center;
    background-size: 1.5rem;
    color: #1b1b1b;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    margin: 0;
    padding: 15px 20px;
    text-decoration: none;
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
}
.social_media .social_btn[aria-expanded=false] {
    background-image: url(../img/add.svg),linear-gradient(transparent,transparent);
    background-repeat: no-repeat;
    background-size: 1.5rem;
}

.filter_icon{display: none ;}
.filter_icon img{width: 25px;}
#data_container.col-6 .filter_icon{
    display: inline-block;
    position: absolute;
    right: 25px;
    z-index: 2;
    cursor: pointer;
    top: 0;
    background: #dedede;
    padding: 3px 12px;
    color: #000;
    font-size: 25px;
    border-radius: 6px;
}
#data_container.col-6 .filter_icon.position_change{
    background: #112F4E;
    color: #fff;
}
#data_container.col.col-6 #myTable_wrapper .toolbar{display: none ;}
#data_container.col #myTable_wrapper .toolbar{display: inline-block ;}
/* #data_container.col-6 .filter_icon.position_change{top: 60px;} */

.custom-control-input~.custom-control-label.radio_toggle::before, 
.custom-control-input~.custom-control-label.radio_toggle::after { display: none;}


span.good {color: green;}
span.bad {color: red;}

#capproject_profile	th[scope="col"] {border-top: 1px solid #000; border-bottom: 1px solid #000; }
#capproject_profile	th, #capproject_profile	td {padding: 10px 24px; border-bottom: 1px solid #E4E4E4;}
#project_details th {width: 35%;}
#project_details td, #capproject_profile .original, #capproject_profile .difference {background: #F1F1F1;}
#capproject_profile .current {background: #E1E1E1;}
.marker {
  background-image: url('/img/markerR.png');
  background-size: cover;
  width: 32px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
}
.no-geo p {	font-size: 1.5rem; line-height: 1.5rem; color: #aaa; position:absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%); }